.turnos {
    padding: 20px;
    background-color: #ffe0b2;
    text-align: center;
  }
  
  .turnos button {
    padding: 10px 20px;
    background-color: #ff7043;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    max-height: 300px;
    object-fit: cover;
  }